// color
$bg-color: #011D54;
$title-color: #fff;
$second-title-color: #E31937;
$subtitle-color: rgba(255, 255, 255, .6);
$btn-color: #E31937;
$link-active-color: #fff;
$link-disable-color: rgba(255, 255, 255, .6);
$input-active-color: rgba(255, 255, 255, 1);
// fonts
$major-font: 'HeliosCond';
$footer-logo-font: 'Proxima Nova Rg';

